.main {
    width: 100%;
    background: linen;
    @include breakpoint-up(medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 90vh;
    }

    &__form {
        margin: 0.625rem 0;
        padding: 10px calc(3vw + 20px);
        border-top: 3px solid white;
        background: whitesmoke;
        gap: 0.625rem;
        width: 100%;
        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.625rem;
            @include breakpoint-up(medium) {
                flex-direction: row;
                justify-content: center;
                align-self: center;
                width: calc(100% - 20vw);
            }
        }
        label {
            width: 100px;
            align-self: flex-start;
        }

        input,
        select {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            padding: 0 10px;
            border: 2px solid grey;
        }
    }

    &__list {
        padding: 10px calc(3vw + 20px);
        width: 100%;
        border-top: 3px solid white;
        .list-top {
            padding: 0 1rem;
        }

        .list-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include breakpoint-up(large) {
                flex-direction: row;
            }
            .left {
                @include breakpoint-up(large) {
                    padding: 0.5rem 0;
                    flex: 1 0 40%;
                }

                &__trip-image {
                    border: 1px solid black;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 5px;
                    width: calc(70vw);
                    height: calc(70vw);
                    flex-shrink: 0;
                    @include breakpoint-up(large) {
                        width: calc(35vw);
                        height: calc(35vw);
                    }
                }

                &__trip-buttons {
                    display: none;
                    @include breakpoint-up(medium) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        margin: 5px 0 5px 0;
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include breakpoint-up(large) {
                    align-items: flex-start;
                    align-self: start;
                    padding: 0 2rem;
                    flex: 1 0 60%;
                }
                & div.flex {
                    gap: 20px;
                }
            }
        }
    }

    & .validation {
        color: red;
        &.hidden {
            display: none;
        }
    }
}
