// Colors
$green: lightgreen;
$grey: lightgray;
$lightGrey: #e8e8e8;
$darkGrey: #505050;
$darkBlue: #004242;
$mediumBlue: #01696d;
$blue: #06979f;
$lightBlue: #48afb5;
$lightOrange: #f3b852;
$darkOrange: #e4903e;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; //18px
